*.todo
Migrations/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-metrics
*.sql
bin/
.config
obj
appsettings.json
appsettings.Development.json
appsettings.Production.json